{% extends 'uit_app/base.html' %}

{% block content %}
<style>
    td{
        color: black !important;
    }
</style>
<div class="container">
    <h1>Student Details</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Roll</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row">{{ object.id }}</th>
                <td>{{ object.name }}</td>
                <td>{{ object.roll }}</td>
                <td>{{ object.s_class }}</td>
              </tr>

                


        </tbody>
      </table>
</div>
{% endblock content %}