{% extends 'uit_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5">
    <div class="card shadow">
        <div class="row p-3 p-md-4">
            <div class="col-md-5 my-auto">
                <h2 class="text-center">Edit Student Data </h2>
            </div>
            <div class="col-md-7">
                <form  method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-dark col-12" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}