{% extends 'uit_app/base.html' %}

{% block content %}
<style>
    td{
        color: black !important;
    }
</style>
<div class="container">
    <h1>Student List</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Roll</th>
            <th scope="col">Class</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            
            {% for c in students %}
            <tr>
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.name }}</td>
                <td>{{ c.roll }}</td>
                <td>{{ c.s_class }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'student-details' c.roll %}">View</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'student-add' %}">Add</a>
                    <a class="btn btn-warning btn-sm" href="{% url 'student-edit' c.roll %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'student-delete' c.roll %}">Delete</a>
                </td>
              </tr>
            {% endfor %}
                


        </tbody>
      </table>
</div>
{% endblock content %}